<%= form_with(model: [:admin, incident, incident_update], url: admin_incident_incident_updates_path(incident), class: "space-y-4") do |f| %>
  <div>
    <%= f.label :message, class: "label-field" %>
    <%= f.text_area :message, rows: 3, class: "input-field", placeholder: "Describe the current situation..." %>
  </div>

  <div>
    <%= f.label :status, "Update Status To", class: "label-field" %>
    <%= f.select :status, Incident.statuses.keys.map { |s| [s.titleize, s] }, { include_blank: "No change" }, class: "input-field" %>
  </div>

  <div class="flex justify-end">
    <%= f.submit "Post Update", class: "btn-primary cursor-pointer" %>
  </div>
<% end %>
